<div id="tcomment"></div>

<script src="https://cdn.staticfile.org/twikoo/1.6.32/twikoo.all.min.js"></script>

<script>
    twikoo.init({
        envId: 'https://twikoo-xih3.vercel.app',  // 🔴 你的专属地址填在这里
        el: '#tcomment',
        lang: 'zh-CN',
    })
</script>

<style>
    .dark .twikoo .el-input__inner,
    .dark .twikoo .el-textarea__inner,
    .dark .twikoo .tk-preview-container,
    .dark .twikoo .tk-content {
        color: #c9d1d9 !important;
        background-color: #1d1e20 !important;
    }
    .dark .twikoo .tk-meta-input .el-input-group__prepend {
        color: #c9d1d9 !important;
        background-color: #2e3033 !important;
    }
    #tcomment {
        margin-top: 2rem;
    }
</style>